@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Madison Pardy – Georgian College</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
        <b>
            <a class="nav-link text-dark" asp-area="" asp-controller="Vehicle" asp-action="Index"> Vehicle Information System portal</a>
   </b>
    <br />
    <br />
    <br />
    <br />
    <br />
    <b>Assignment 2 – Server-Side Scripting</b>
</div>
